<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.primeton.renyh.dao.UserDao">
    <select id="queryAll" resultType="com.primeton.renyh.pojo.User">
        select * from user
    </select>
    <delete id="delete" parameterType="Integer">
        delete from user where uid =#{uid}
    </delete>
    <insert id="insert" parameterType="com.primeton.renyh.pojo.User">
        insert into user(uid,username,password)values(#{uid},#{username},#{password})
    </insert>
</mapper>
